/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";
 
 #navbar {
	 box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.22);
	 background: rgb(241, 241, 241);
	 position: sticky;
	 top: 0;
	 opacity: 80%;
	 z-index: 1;
	 transition: 0.2s;
 }
 #navbar:hover {
	 box-shadow: 4px 10px 30px 0 rgba(0, 0, 0, 0.22);
	 opacity: 100%;
 }
 
 #pButton {
	 box-shadow: 0px 0px 0px 0 rgba(0, 0, 0, 0.22);
	 background-color: #ddd;
	 border: none;
	 color: black;
	 text-align: center;
	 text-decoration: none;
	 margin: 4px 2px;
	 cursor: pointer;
	 border-radius: 16px;
	 transition: 0.2s;
 }
 #pButton:hover {
	 box-shadow: 1px 2px 1px 0 rgba(0, 0, 0, 0.22);
	 background-color: rgb(134, 161, 201);
 }

 #logo {
	 font-family: Arial, Helvetica, sans-serif;
	 font-size: 25px;
	 font-weight: 100;
	 letter-spacing: 3px;
	 padding: 15px 0;
	 margin-left: 50px;
	 a {
		 color: rgb(46, 100, 180);
	 }
 }
 
 #main_content {
	 z-index: 0;
	 position: relative;
	 #content {
		 float: none;
	 }
	 padding-bottom: 100px;
	 .link {
		 padding: 2em 1em;
		 font-size: large;
		 border-bottom: 1px solid #e9e9e9;
		 .title {
 
			 a {
				 color: #FF4500;
			 }
		 }
	 }
	 .comments_title {
		 margin-top: 2em;
	 }
	 #comments {
		 .comment {
			 padding: 1em 0;
			 border-top: 1px solid #E9E9E9;
			 .lead {
				 margin-bottom: 0;
			 }
		 }
	 }
 }
 
 @keyframes gradient {
	 0% {
		 background: rgb(233, 75, 75);
	 }
	 25% {
		 background: rgb(133, 233, 75);
	 }
	 50% {
		 background: rgb(75, 125, 233);
	 }
	 75% {
		 background: rgb(151, 233, 75);
	 }
	 100% {
		 background: rgb(233, 75, 75);
	 }
 }
