#contactForm {
    box-shadow: 4px 10px 30px 0 rgba(0, 0, 0, 0.22);
    background: rgb(245, 245, 245);
    border-radius: 30px;
    padding: 25px;
}

#contactTitle {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    font-size: 40px;
    font-weight: 550;
    padding: 5px 0;
    letter-spacing: 0px;
}