@import "bootstrap-sprockets";
@import "bootstrap";

#echoContent {
    box-shadow: 0px 2px 2px 0 rgba(0, 0, 0, 0.22);
    background: rgb(248, 248, 248);
    border-radius: 30px;
    margin: 5px;
    opacity: 0.6;
    transition: 0.2s;
}
#echoContent:hover {
    opacity: 1;
    box-shadow: 4px 10px 30px 0 rgba(0, 0, 0, 0.22);
    background: rgb(245, 245, 245);
}
#title {
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
	font-size: 30px;
	font-weight: 550;
    padding: 5px 0;
    transition: 0.2s;
    letter-spacing: 0px;
	a {
		color: rgb(46, 100, 180);
	}
}
#title:hover {
    letter-spacing: 2px;
}

#textPreview {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 25px;
	font-weight: 100;
    color: rgb(36, 36, 36);
    a {
        font-size: 20px;
        color: rgb(46, 100, 180);
    }
}

#submitted {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: 100;
    color: rgb(70, 70, 70);
}
